* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.classes-body {
    padding: 5%;
}

.classes-body h3 {
    padding: 5%;
    color: #111111;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.classes-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4%;
    column-gap: 2%;
}

.classes-card-item {
    position: relative;
    display: flex;
}

.classes-card-item img {
    width: 100%;
    height: 250px;
}

.classes-card-item-sub {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    bottom: 0;
    width: 100%;
}

.classes-card-item-text {
    font-size: 22px;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 3%;
    opacity: 1;
}

.classes-card-item-innertext {
    font-size: 15px;
}

.classes-card-item-info {
    display: none;
    font-size: 15px;
    padding: 2% 2% 2% 2%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    transition: display 0s, opacity 0.8s ease-in-out;
}

.classes-card-item-text:hover .classes-card-item-info {
    display: block;
    opacity: 1;
    transition-duration: 1.5s; /* Adjust the duration as needed */
}

.classes-logo {
    padding-left: 5px;
}

.classes-card-item img:hover {
    cursor: pointer;
}

.classes-card-item-sub:hover {
    background: #000;
    font-weight: bold;
}

/* Media Query for Mobile Devices and Low Resolution Tablets */
@media (max-width: 768px) {
    .classes-body h3 {
        margin-top: 50px;
    }
    .classes-body {
        padding: 3%;
    }
    .classes-body h3 {
        font-size: 30px;
    }
    .classes-card {
        grid-template-columns: 1fr 1fr;
        row-gap: 2%;
    }
    .classes-card-item-text {
        font-size: 20px;
    }
    .classes-card-item-innertext {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
        .classes-body h3 {
        font-size: 20px;
    }
    .classes-card {
        grid-template-columns:  1fr;
        row-gap: 2%;
    }
}